*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.body{
    font-family:Arial, Helvetica, sans-serif ;
    background-color: darkgrey;
    color: chocolate;
    line-height: 1.5;
    

}
/* navigation bar */
.header{
    padding: 20px 20px;
    box-shadow: 2px 2px ;
    background-color: darkgrey;
    color: white;

    


}
.navbar{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    gap: 100px;
    background-color: grey;
}
.nav-link{
    display: flex;
    gap: 40px;
    list-style: none;
}
.nav-link a{
    text-decoration: none;
    font-weight: 600;
    transition:color 0.3 ease ;
}
.pri-btn{
    padding: 20px 20px;
    margin: 50px 50px;
    border-radius: 20px;
    border: none;
    text-align: center;
    

}